<!DOCTYPE html>
<html lang="es/Es">
<head>
    <meta charset="UTF-8">
    <meta lang="es/Es">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/layout768.css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" href="/stylesheets/layout480.css" media="only screen and (max-width: 480px)">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    
    <link rel="shortcut icon" href="favicond.PNG">

    <title>{{{title}}}</title>
</head>
<body>
    <header>
        <div id="contenedor">
            <div class="centrado">TEROS</div>
            {{!-- <nav class="contenedor-nav">
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><i class="fas fa-bars"></i></label>
                <ul class="nav">
                    <li class="items e1"><a href="/" class="list {{#if isHome}}active{{/if}}">HOME</a></li>
                    <li class="items e2"><a href="/deportes" class="list {{#if isDeportes}}active{{/if}}">DEPORTES</a></li>
                    <li class="items e3"><a href="/novedades" class="list {{#if isNovedades}}active{{/if}}">NOVEDADES</a></li>
                    <li class="items e4"><a href="/subcomisiones" class="list {{#if isSubcomisiones}}active{{/if}}">SUBCOMISIONES</a></li>
                    <li class="items e5"><a href="/contacto" class="list {{#if isContacto}}active{{/if}}">CONTACTO</a></li>
                    <li class="items red e6"><a href="https://www.instagram.com/losterosrc/?hl=es" target="_blank" class="list-red"><i class="fab fa-instagram"></i></a></li>
                    <li class="items red e7"><a href="https://www.facebook.com/LosTerosRC/" target="_blank" class="list-red"><i class="fab fa-facebook"></i></a></li>
                    <li class="items red e8"><a href="#" target="_blank" class="list-red"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </nav> --}}
        </div>
    </header>

{{{body}}}

