<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="usuario" class="form-label">Usuario:</label>
                <input type="text" class="form-control" id="usuario">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <textarea type="password" class="form-control" id="password" rows="1"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-dark">Enviar</button>
        </div>
    </div>
</div>