<main class="main">
    <div id="caja-contenedora">
        <div class="elemento1">
            <img src="/images/imgsubc/finanzas.jpg" alt="hockey" class="foto">
            <div class="subelemento1">
                <h2>Subcomisión de administración y finanzas:</h2>
                <p><b>El “Referente de esta Subcomisión
                    será el/la Tesorero/ra del Club,
                    quién deberá armar un equipo de
                    trabajo a fin de optimizar el
                    funcionamiento de la
                    Administración y Finanzas de la
                    Institución. Tendrá  a su cargo los siguientes lineamientos básicos en
                    todo lo relativo a las finanzas y
                    administración del club.</b></p>
            </div>
        </div>
        <!-- <div class="elemento2">
        <h4></h4>
        <p></p>
        </div> -->
        <div class="elemento3">
            <h4>Lineamiento básicos:</h4>
            <ul>
                <li>La cuota mensual obligatoria de socios como fuente de ingresos que permitira mantener el presupuesto de gastos del Club</li>
                <li>Incorporar el lema "La cuota no se cobra, se paga".</li>
                <li>Los egresos ordinarios necesariamente adecuados a los ingresos ordinarios.</li>
                <li>Las cuotas siempre ajustadas al concepto anterior.</li>
                <li>La maximizaión de los ingresos externos (entradas a partidos y estacionamiento) dentro de los valores razonables que aplican los demás clubes. se busca que paguen quienes utilizan y disfrutan más del club y se comparte el gasto con quienes vienen a visitar el club.</li>
                <li>La decuación de la infraestructura edilicia y el espacio para la práctica del rugby y hockey a sabiendas de las dificultades de crecimiento que tenemos dentro de nuestra actual localizacion.</li>
                <li>Los ingresos de sponsors o ingresos extraordinarios se utilizarán para crecimiento edilicio, de infraestructura y para el mantenimiento de las instalaciones.</li>
                <li>Una tesorería siempre abierta a recibir sugerencias y/o propuestas que nos permitan seguir creciendo y consolidando el patrimonio del club.</li>
            </ul>
            <h4>Objetivos 2022:</h4>
            <p>Recaudar y optimizar las propuestas de erogación y optimizar los canales de ingreso adaptándos a la coyuntura.</p>
            <ul>
                <li>Definición e implementacion cuotas 2022</li>
                <li>Rearmado del equipo de administración</li>
                <li>Nuevas metodoloías de cobro</li>
                <li>Gestión cash flow 2022</li>
                <li>manejo y adecuación de unidades de negocios.</li>
            </ul>
            <h4>Objetivo 2025:</h4>
            <p>Haber acompañado el crecimento del club adecuando su infraestructura y nivel de servicios y manteniendo un sano equilibrio financiero en sus cuentas.</p>
        </div>
        </div>    
</main>
