<main class="main">
    <div id="caja-contenedora">
    <div class="elemento1">
        <img src="img/redes.jpg" alt="" class="foto">
        <div class="subelemento1">
            <h2>subcomision de prensa y comunicaciones.</h2>
            <p><b>Su objetivo es implementar y
                mantener actualizados los canales
                de comunicación interna y externa
                del Club. Así también, todo el
                desarrollo de otros canales de
                comunicación para socios y público
                en general.</b></p>
        </div>
    </div>
    <!-- <div class="elemento2">
    <h4></h4>
    <p></p>
    </div> -->
    <div class="elemento3">
        <h4>Marco</h4>
        <p>Tendrá una gran actividad en redes sociales oficiales de nuestra institución como
            así mismo de los demás canales de comunicación interna (estática) y externa
            (imagen del club, campañas, voceros). <br>
            Realizará una planificación interna y externa abarcando:</p>
            <ul>
                <li>Carteleria interna. Estática</li>
                <li>Redes sociales: Página web, Facebook, twitter e instagram.</li>
                <li>Mailings, listas de distribución.</li>
                <li>Segmentación interna.</li>
                <li>Imagen institucional.</li>
                <li>Campañas (atracción de jugadores, socios, valoración de gente que colaboró o colabora con el club)</li>
                <li>Abrir espacios de participacion web y buzón de ideas.</li>
            </ul>
            <p>El Coordinador formará Equipos con socios voluntarios con experiencia y dispondrá
                de un presupuesto para uso específico en las Campañas.
                El sitio web y las demás redes sociales, serán actualizados en contenido y
                capacidad, incorporándosele  un marco más institucional sin perder el estilo de libre
                expresión y flexibilidad.
                Las Campañas serán consensuadas previamente en reuniones de CD.
                El Equipo de Comunicación presentará el Plan Anual para aprobación en la primera
                quincena del mes de Febrero del respectivo año.</p>
        <h4>Objetivo 2022:</h4>
        <p>Consolidar el equipo con todos los segmentos representados.</p>
        <ul>
            <li>Conformacion del equipo, funciones y rutinas.</li>
            <li>Definir plataforma, imagen y plan de comunicación.</li>
            <li>Definir e involucar a los referentes.</li>
            <li>Campaña de captación de jugadores.</li>
            <li>Fortalecer a través de estos canales la participación activa de los socios y/o la comunidad en general.</li>
            <li>Lograr a través de estas herramientas y propuestas satisfacer las inquietudes/dudas de los socios otorgándoles un espacio para ello.</li>
        </ul>
    </div>
    <div class="elemento4">
        <h4>Objetivo 2025:</h4>
        <p>Ser reconocidos por una calidad de comunicación que sea oportuna y participativa.
            Que refleje y represente lo que es Los Teros Rugby Club, actividades relevantes
            para la vida del Club.</p>
    </div>
        <div class="form-c">
            <form action="" class="form">
                <p>Contactate con esta subcomision:</p>
                <label for="nombre">Nombre y apellido:</label>
                <input type="text" method="post" name="nombre" id="">
                <label for="email">Email</label>
                <input type="email" method="post" name="email" id="">
                <label for="textarea" class="required">Su mensaje:</label>
                <textarea name="texto" method="post" id="" cols="50" rows="3" required></textarea>
                <button type="submit">Enviar</button>
                <p>{{message}}</p>
            </form>
        </div>
    </div>
</main>