<main>
    <div id="contenedor-main">
        <div class="formulario2">
            <h4>Consultas generales</h4>
            <form action="/contacto" method="post">
            <p>Nombre y apellido:</p>
            <input class="caja-datos" type="text" maxlength="25" name="nombre" placeholder="Nombre - Apellido">
            <p>Email:</p>
            <input class="caja-datos" type="email" maxlength="30" name="email" placeholder="este-es@un-ejemplo.com">
            <p class="campo-r">Su consulta:<br></p>
            <textarea class="caja-datos" name="texto" required rows="6" cols="50" placeholder="Ej: Que dia puedo ir a pagar la cuota?"></textarea>
            <div class="g-recaptcha asdasd" data-sitekey="your_site_key"></div>
            <div><input type="submit" placeholder="Enviar"></div>
            </form>
            <p>{{message}}</p>
            <span>Para una cuestion mas especifica, busque la subcomion adecuada a la cual realizar la consulta: <a class="link-s" href="subcomisiones.html">Subcomisiones</a></span>
        </div>
        <div class="formulario1">
            <h4>Aportes y/o quejas:</h4>
            <form action="/contacto" method="post">
            <p>Nombre y apellido:</p>
            <input class="caja-datos" type="text" maxlength="25" placeholder="Nombre - Apelldio" name="nombre">
            <p>Email:</p>
            <input class="caja-datos" type="email" maxlength="30" placeholder="este-es@un-ejemplo.com" name="email"><br>
            <p class="campo-r">Su aporte y/o solicitud:<br></p><textarea class="caja-datos" name="texto" required rows="10" cols="25" placeholder="Ej: Me gustaria que hubiese un basurero en X lugar ya que suele haber basura tirada alli..."></textarea>
            <div class="g-recaptcha" data-sitekey="your_site_key"></div>
            <div><input type="submit" placeholder="Enviar"></div>
            </form> 
            <p>{{message}}</p>
        </div>
    </div>
</main>