<main>
    <div id="contenedor-main">
        <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona con que comision deseas comunicarte</option>
            <option value="1">Proximamente...</option>
        </select>
        <span>Necesitas ayuda para saber con que comision comunicarte, informate aqui: <a href="/subcomisiones" class="enlace">Subcomisiones</a></span>
        <div class="formulario2">
            <h4>Consultas generales</h4>
            <form action="/contacto" method="post">
            <p>Nombre y apellido:</p>
            <input class="caja-datos" type="text" maxlength="25" name="nombre" placeholder="Nombre - Apellido">
            <p>Email:</p>
            <input class="caja-datos" type="email" maxlength="30" name="email" placeholder="este-es@un-ejemplo.com">
            <p class="campo-r">Su consulta:<br></p>
            <textarea class="caja-datos" name="texto" required rows="6" cols="50" placeholder="Ej: Que dia puedo ir a pagar la cuota?"></textarea>
            <div class="g-recaptcha asdasd" data-sitekey="your_site_key"></div>
            <div><input type="submit" placeholder="Enviar"></div>
            </form>
            <p>{{message}}</p>
        </div>
    </div>
</main>