<main class="main">
    <div id="caja-contenedora">
    <div class="elemento1">
        <img src="img/disciplina.jpg" alt="" class="foto">
        <div class="subelemento1">
            <h2>subcomision de Etica y disciplina.</h2>
            <p><b>El principal objetivo de esta
                Subcomisión es mantener una línea
                de comportamiento uniforme entre
                todos los integrantes de Los Teros
                Rugby Club.</b></p>
        </div>
    </div>
    <div class="elemento2">
    <h4>Forma de trabajo:</h4>
    <p>Conjuntamente con la Subcomisión de Principios y Valores deberán bregar por
        CONCIENTIZAR y crear una cultura responsable para el comportamiento de toda la
        familia Tero, generando fundamentalmente acciones de prevención con charlas y
        debates sobre la temática.
        
        Producido un hecho no deseados deberá abocarse, con las herramientas
        disponibles, al esclarecimiento del mismo para resolución de la Comisión Directiva.</p>
    </div>
    <div class="elemento3">
        <h4>Objetivo 2022:</h4>
        <p></p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="elemento4">
        <h4>Objetivo 2025:</h4>
        <p>.</p>
    </div>
        <div class="form-c">
            <form action="" class="form">
                <p>Contactate con esta subcomision:</p>
                <label for="nombre">Nombre y apellido:</label>
                <input type="text" name="nombre" id="">
                <label for="email">Email</label>
                <input type="email" name="email" id="">
                <label for="textarea" class="required">Su mensaje:</label>
                <textarea name="" id="" cols="50" rows="3" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</main>