<main class="main">
    <div id="caja-contenedora">
    <div class="elemento1">
        <img src="/images/imgsubc/eventos.jpg" alt="" class="foto">
        <div class="subelemento1">
            <h2>subcomision de comunidad y eventos.</h2>
            <p><b>Su Objetivo será desarrollar y
                garantizar en forma sistémica las
                acciones (deportivas o extra
                deportivas) que tengan que ver con
                la Comunidad (externa) y los
                Socios del Club (interna), que
                tengan como marco a nuestra
                Institución.</b></p>
        </div>
    </div>
    <!-- <div class="elemento2">
    <h4>Marco:</h4>
    <p></p>
    </div> -->
    <div class="elemento3">
        <h4>Marco:</h4>
        <p>Se debería propiciar la creación de Equipos diversos de socios que generen acciones
            de ayuda a la comunidad y que tuvieran como marco varios de los valores
            compartidos durante años en el club. Así también propender a que el Club año a
            año se motive para la realización de eventos relacionados con la vida familiar,
            festividades, valoración de aquellos que realizan actividades para el club, fiestas,
            etc.
            Se perseguirá el armado de un Plan que de marco institucional de actividades
            relacionadas con el Club hacia afuera y hacia adentro, así como la formalización de
            eventos claves para el desarrollo, motivación de los socios y captación de nuevos
            jugadores y socios.</p>
            <ul>
                <li>Ayudas a Escuelas, Internados y apoyo a otras instituciones deportivas.</li>
                <li>Banco de Indumentaria y equipamiento para jugadores que no puedan adquirirlos.</li>
                <li>Plan de eventos del club: día del niño, fiesta de fin de año, un día en el club
                    (campamento en el club o SUM), Copa M15, Colonia de Vacaciones, Fiestas Matiné,
                    etc.</li>
                <li>Fiestas por Camadas (Integración Rugby-Hockey)</li>
            </ul>
        <h4>Objetivo 2022:</h4>
        <p>Consolidar los Programas en funcionamiento e incorporar una metodología para que
            los socios aporten ideas y se sumen a nuevos proyectos, así como actividades que
            fortalezcan los valores, la integración de jugadores, ex jugadores y socios.</p>
        <ul>
            <li>Conformacion del equipo, funciones y rutinas.</li>
            <li>Realimentación de experiencias de años anteriores</li>
            <li>Definición de las prioridades 2022.</li>
            <li>Incorporar la comunidad interna.</li>
            <li>Definir plan "Cuidemos el club entre todos"</li>
            <li>Activar el programa de recoleccion de camadas</li>
        </ul>
    </div>
    <div class="elemento4">
        <h4>Objetivo 2025:</h4>
        <p>Contar con 5 proyectos comunitarios sustentables que involucren la participación de
        más del 30 % de los socios activos y padres de jugadores. Plan de eventos consolidado y respetado año a año.</p>
    </div>
    </div>
</main>
