<main class="main">
    <div id="caja-contenedora">
    <div class="elemento1">
        <img src="img/fiesta.jpg" alt="" class="foto">
        <div class="subelemento1">
            <h2>subcomision de fiestas.</h2>
            <p><b>Desde el 2022 relizaremos programas internos y externos que apunten a consolidar en Los Teros Rugby Club un estilo de DIVERSION RESPONSABLE sin excesos. <br> Pondremos foco en las evidencias que recojan las divisiones infantiles y juveniles en un entorno de AUTORRESPONSABILIDAD que nos identifique y generando un marco maduro de liberta y elección.</b></p>
        </div>
    </div>
    <div class="elemento2">
    <h4>Forma de trabajo:</h4>
    <p>Contaremos con el involucramiento de los líderes del Plantel Superior (y excelente
    predisposición de todos los planteles), entrenadores y referentes de Juveniles.
    Iniciaremos acciones en conjunto con padres y entrenadores de infantiles-
    consensuaremos las pautas de los terceros Tiempos y Fiestas internas.
    Seguiremos con fuerte foco en los límites y excesos con las bebidas alcohólicas y responsabilidad con la conducta vial. Priorizamos generar un marco de libertad madura en contraposición a la fácil decisión que supondría una prohibición extrema que los expondría en otros entornos.</p>
    </div>
    <div class="elemento3">
        <h4>Objetivo 2022:</h4>
        <p>Renovar el compromiso de los líderes de cada divisióne implementar exitosamente la estrategia acordada. Implementar exitosamente la estrategia acordada. Implementar una nueva campaña que involucre el lema "Me divierto con limites" y realimentar evidencias.</p>
        <ul>
            <li>Conformación del equipo, funciones y rutinas.</li>
            <li>Formalizar referentes y acordar criterios con cada división.</li>
            <li>Definir y lanzar la campaña</li>
            <li>Involucrarnos en las acciones externas.</li>
        </ul>
    </div>
    <div class="elemento4">
        <h4>Objetivo 2025:</h4>
        <p>"Ser reconocidos como club responsable en la prevencion de excesos, diversión y conducta vial."</p>
    </div>
        <div class="form-c">
            <form action="" class="form">
                <p>Contactate con esta subcomision:</p>
                <label for="nombre">Nombre y apellido:</label>
                <input type="text" name="nombre" id="">
                <label for="email">Email</label>
                <input type="email" name="email" id="">
                <label for="textarea" class="required">Su mensaje:</label>
                <textarea name="" id="" cols="50" rows="3" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</main>