<main class="main">
    <div id="caja-contenedora">
        <div class="elemento1">
            <img src="/images/imgsubc/hockey.jpg" alt="hockey" class="foto">
            <div class="subelemento1">
                <h2>Subcomisión de hockey:</h2>
                <p><b>Esta Subcomisión es responsable de la definición y custodia de la estructura del Hockey de Los Teros, propiciando la tarea integral del entrenador: transmitir conocimientos al jugador e inculcar valores en la persona.</b></p>
            </div>
        </div>
        <div class="elemento2">
        <h4>Objetivos</h4>
        <p>En 2022 se impulsará una mayor conexión entre todas las Divisiones, en especial en el nexo con lo que refiere al Plantel Superior. El objetivo es desarrollar un manual haciendo hincapié en los objetivos por edades. Se buscara finalmente una identidad de juego del Club, adaptada a cada nivel de jugadores: Superior, Juveniles e Infantiles.-
        Será clave continuar desarrollando cursos internos de coaching y establecer una cadena de formación de nuevos entrenadores jóvenes, ex jugadoras y padres, que comulguen con la misma filosofía. Que estén capacitados e involucrados tanto en los aspectos filosóficos como en el juego y con especial hincapié en la seguridad y prevención.
        Se seguirán también de cerca las acciones vinculadas con el nuevo proceso de desarrollo físico de las Jugadoras, fomentando la participación de los Preparadores Físicos (PF) que permitan maximizar destrezas individuales.</p>
        </div>
        <div class="elemento3">
            <h4>Objetivos 2022:</h4>
            <p>Coordinar los encuentros quincenales de la Sub Comisión  de Hockey avanzando con el armado del modelo a desarrollar. Finalizar de acordar la estructura del hockey.</p>
            <ul>
                <li>Conformacion de equipo, funciones y rutinas.</li>
                <li>Realimentación de experiencias.</li>
                <li>Programa de coaching 2022.</li>
                <li>Optimizar el proceso para formar y designar entrenadores.</li>
                <li>Integracion con entrenadores de juveniles e infantiles.</li>
                <li>Integracion con entrenadores de plantel superior.</li>
                <li>Monitoreo de prácticas y enseñanza de juego.</li>
                <li>Representacion en Asociacion de Hockey.</li>
            </ul>
        </div>
        <div class="elemento4">
            <h4>Objetivo 2025</h4>
            <p>Consolidar el funcionamiento de la Escuela de hockey en Los Teros con un modelo de gestion que nos caracterise.</p>
        </div>
        </div>
</main>