<main>
    <div id="principal">
        <div class="contenido">
            <h3 class="tit-sec">Algo de nosotros:</h3>
            <p>Hoy cerca de cumplir 47 como club en Catamarca, los <b>Teros Rugby club</b>, queremos que sepas algo. Vestir la camiseta blanca y negra . No es solo para un partido. Ponerse la blanca y negra es para siempre. Para cada instante de tu vida. Para dejar todo por un amigo. Para entregarte siempre. Para aprender a conjugar el verbo dar en todas su formas. Para aprender que no hay nada a cambio. Para superarte si te toca ganar y recuperarte si perdiste. Para ser mejor persona cada día. Para ser más leal y más honesto. <b>SOMOS TEROS</b>.</p>
            <div class="cont-sec">
                <h3 class="tit-sec">Nuestra Filosofia</h3>
            <p></p>
        </div>
        </div>
        
        <div class="side-bar">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLosTerosRC%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" class="facebook" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
    <div id="imgg"></div>
    <section id="section">
        <div class="cont-sec">
            <h3 class=>Somos teros</h3>
            <p>Hoy cerca de cumplir cuarenta y siete años como club, queremos que sepas algo. Vestir la camiseta blanca y negra . No es solo para un partido. Ponerse la blanca y negra es para siempre. Para cada instante de tu vida. Para dejar todo por un amigo. Para entregarte siempre. Para aprender a conjugar el verbo dar en todas su formas. Para aprender que no hay nada a cambio. Para superarte si te toca ganar y recuperarte si perdiste. Para ser mejor persona cada día. Para ser más leal y más honesto. <b>SOMO TEROS</b>.</p>
        </div>
    </section>
    <div id="imgg2"></div>
    <section id="section2">
        <h4 class="title2">Nuestros sponsors:</h4>
        <div class="sponsor s1">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s2">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s3">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s4">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s5">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s6">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s7">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s8">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s9">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
    </section>
    <div class="contenedor-txt">
        <p class="txt t1"><b>¿Queres ser sponsor de <b>Los Teros Rugby Club</b>?</b></p>
        <p class="txt t2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, ullam nihil omnis ipsa vveniam!</p>
    </div>
</main>