<main>
    <div id="principal">
        <div class="contenido">
            <h2>Historia de nuestro club:</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur veniam ullam mollitia nihil totam illo odio vel odit repudiandae eum laboriosam, obcaecati, est impedit natus sed assumenda. Reprehenderit, ratione laborum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dicta eligendi sequi! Fugiat cumque, fuga tenetur dicta modi error repellat laudantium impedit atque assumenda eos facere voluptatem, odio libero illum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur veniam ullam mollitia nihil totam illo odio vel odit repudiandae eum laboriosam, obcaecati, est impedit natus sed assumenda. Reprehenderit, ratione laborum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dicta eligendi sequi! Fugiat cumque, fuga tenetur dicta modi error repellat laudantium impedit atque assumenda eos facere voluptatem, odio libero illumLorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur veniam ullam mollitia nihil totam illo odio vel odit repudiandae eum laboriosam, obcaecati, est impedit natus sed assumenda. Reprehenderit, ratione laborum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dicta eligendi sequi! Fugiat cumque, fuga tenetur dicta modi error repellat laudantium impedit atque assumenda eos facere voluptatem, odio libero illum</p>
        </div>
        <div class="side-bar">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLosTerosRC%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
    <div id="imgg"></div>
    <section id="section">
        <h4 class="title">algo:</h4>
        <p class="txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur vitae quibusdam consequuntur quis? Quae, dolorem architecto nemo placeat vero rerum assumenda exercitationem eius, commodi animi autem veniam, aut molestiae facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facilis, ipsa doloremque harum pariatur vitae iste cumque fugiat! Voluptatem explicabo nesciunt dolore perferendis quisquam totam alias commodi aut rem unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sapiente odio nostrum nulla neque obcaecati fuga sit architecto sint inventore, magnam in quo doloremque unde sunt molestiae voluptate quibusdam dicta.</p>
        <p class="txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur vitae quibusdam consequuntur quis? Quae, dolorem architecto nemo placeat vero rerum assumenda exercitationem eius, commodi animi autem veniam, aut molestiae facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facilis, ipsa doloremque harum pariatur vitae iste cumque fugiat! Voluptatem explicabo nesciunt dolore perferendis quisquam totam alias commodi aut rem unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sapiente odio nostrum nulla neque obcaecati fuga sit architecto sint inventore, magnam in quo doloremque unde sunt molestiae voluptate quibusdam dicta.</p>
        <p class="txt t3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur vitae quibusdam consequuntur quis? Quae, dolorem architecto nemo placeat vero rerum assumenda exercitationem eius, commodi animi autem veniam, aut molestiae facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facilis, ipsa doloremque harum pariatur vitae iste cumque fugiat! Voluptatem explicabo nesciunt dolore perferendis quisquam totam alias commodi aut rem unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sapiente odio nostrum nulla neque obcaecati fuga sit architecto sint inventore, magnam in quo doloremque unde sunt molestiae voluptate quibusdam dicta.</p>
    </section>
    <div id="imgg"></div>
    <section id="section2">
        <h4 class="title2">Nuestros sponsors:</h4>
        <div class="sponsor s1">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s2">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s3">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s4">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s5">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s6">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s7">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s8">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
        <div class="sponsor s9">
            <img src="/public/images/iconodefinitivo.jpeg" alt="" class="sponsor-log">
        </div>
    </section>
    <div class="contenedor-txt">
        <p class="txt t1"><b>¿Queres ser sponsor del club?</b></p>
        <p class="txt t2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, ullam nihil omnis ipsa vveniam!</p>
    </div>
</main>