<main class="main">
    <div id="caja-contenedora">
        <div class="elemento1">
            <img src="img/infraestructura.jpg" alt="" class="foto">
            <div class="subelemento1">
                <h2>subcomision de infraestructura y ambiente.</h2>
                <p><b>Su objetivo es proponer, proyectar y ejecutar, previa anuencia de la comisión directiva, la prioridad de obras, como así mismo al mantenimiento de la infraestructura actual, el ambiente y limpieza del club.</b></p>
            </div>
        </div>
        <div class="elemento2">
        <h4>Objetivos:</h4>
        <p>Estará en comunicación directa con la Subcomisión de Sponsors y Unidades de
            Negocios que le brindara soporte y recursos para el desarrollo, administración y
            mantenimiento de la infraestructura y desarrollo de UN: Gimnasio, SUM, Quinchos,
            Concesionario de la Confitería. Adecuación de áreas Deportiva  y Recreación, áreas
            verdes, fogones, etc.
            Implementar el Plan “Cuidemos el Club entre todos”, haciendo que todos los socios
            colaboren en actividades de limpieza, mantenimiento, jardinería, etc.
            Concientizar en Clasificación de residuos.</p>
        </div>
        <div class="elemento3">
            <h4>Objetivo 2022:</h4>
            <p>Consolidar las acciones en el Gimnasio, el funcionamiento del Concesionario con
                reformas de baños y nueva boca de expedición (Kiosco), ampliar nichos para
                alquiler del Salón de eventos con sus reformas en el exterior y jardines, culminar el
                plan de veredas, dar inicio al plan de reforma eléctrica y la gestión de
                Mantenimiento.
                Otras obras propuestas: Refacción de Vestuario Local Caballeros, Enfermería.</p>
            <ul>
                <li>Conformación del equipo, funciones y rutinas.</li>
                <li>Definir y ejecutar plan de obras.</li>
                <li>Seguimiento de las pautas acordadas.</li>
                <li>Implementar rutina de mantenimiento.</li>
            </ul>
        </div>
        <div class="elemento4">
            <h4>Objetivo 2025:</h4>
            <p>Haber respondido al crecimiento con una adecuada infraestructura y acompañarla
                con una mejora continua en el servicio de mantenimiento, de concesionario y de
                limpieza. Ser reconocido como una organización que “cuida el ambiente”.</p>
        </div>
            <div class="form-c">
                <form action="" class="form">
                    <p>Contactate con esta subcomision:</p>
                    <label for="nombre">Nombre y apellido:</label>
                    <input type="text" name="nombre" id="">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="">
                    <label for="textarea" class="required">Su mensaje:</label>
                    <textarea name="" id="" cols="50" rows="3" required></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</main>