<!DOCTYPE html>
<html lang="es/Es">
<head>
    <meta charset="UTF-8">
    <meta lang="es/Es">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="stylesheets/normalize.css">
   <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/index768.css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" href="stylesheets/index480.css" media="only screen and (max-width: 480px)">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="stylesheet" href="stylesheets/layout768.css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" href="stylesheets/layout480.css" media="only screen and (max-width: 480px)">
    <link rel="shortcut icon" href="favicond.PNG">

    <title>{{{title}}}</title>
</head>
<body>
    <header>
        <div id="contenedor">
            <div class="centrado">TEROS</div>
            <nav class="contenedor-nav">
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><i class="fas fa-bars"></i></label>
                <ul class="nav">
                    <li class="items e1"><a href="/" class="list {{#if isHome}}active{{/if}}">HOME</a></li>
                    <li class="items e2"><a href="/deportes" class="list {{#if isDeportes}}active{{/if}}">DEPORTES</a></li>
                    <li class="items e3"><a href="/novedades" class="list {{#if isNovedades}}active{{/if}}">NOVEDADES</a></li>
                    <li class="items e4"><a href="/subcomisiones" class="list {{#if isSubcomisiones}}active{{/if}}">SUBCOMISIONES</a></li>
                    <li class="items e5"><a href="/contacto" class="list {{#if isContacto}}active{{/if}}">CONTACTO</a></li>
                    <li class="items red e6"><a href="https://www.instagram.com/losterosrc/?hl=es" target="_blank" class="list-red"><i class="fab fa-instagram"></i></a></li>
                    <li class="items red e7"><a href="https://www.facebook.com/LosTerosRC/" target="_blank" class="list-red"><i class="fab fa-facebook"></i></a></li>
                    <li class="items red e8"><a href="#" target="_blank" class="list-red"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    {{{body}}}

    <footer>
    <div id="footer">
        <div class="footer-icono one">
            <img src="/public/images/iconodefinitivo.jpeg" alt="escudo teros RC" class="icono">
        </div>
        <div class="mapa two">
            <h3>Ubicanos en:</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14032.163671662958!2d-65.7639131!3d-28.4481829!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a568be5b3ddfbca!2sLos%20Teros%20Rugby%20Club!5e0!3m2!1ses-419!2sar!4v1635807690494!5m2!1ses-419!2sar" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="container-footer three">
            <div class="redes-footer">
                <span>Seguinos en nuestras redes:</span>
                <p><a href="https://www.facebook.com/LosTerosRC/" target="_blank" class="redes2"><i class="fab fa-facebook"></i> Facebook</a></p>
                <p><a href="https://www.instagram.com/losterosrc/" target="_blank" class="redes2"><i class="fab fa-instagram"></i> Instagram</a></p>
            </div>
            <div id="newsletter">
                <label for="name">Nuestro newsletter:</label>
                <div class="newsletter">
                    <input type="email" placeholder="user@example.com" required class="textarea">
                    <button type="submit" class="enviar">Suscribirme</button>
                </div>
            </div>
        </div>
        <div class="copyright four"><span>Derechos reservados:</span>&copy;Los teros RC.<br>Desarrollado por: <a href="http://creativecommons.org" class="copyr">Facu00H <i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v12.0" nonce="wfIIuZbB"></script>
</body>
</html>
