<main class="main">
    <div id="caja-contenedora">
    <div class="elemento1">
        <img src="/images/imgsubc/planificacion.jpg" alt="" class="foto">
        <div class="subelemento1">
            <h2>subcomision de planificación y proyectos.</h2>
            <p><b>Esta Subcomisión se focaliza en Los
                Teros Rugby Club 2025. Su objetivo
                es coordinar la proyección de las
                instalaciones y recursos  necesarios
                para los diversos escenarios de
                crecimiento.</b></p>
        </div>
    </div>
    <div class="elemento2">
    <h4>Forma de trabajo:</h4>
    <p>Se integra con los Miembros de la Comisión Directiva y por el Consejo Consultivo,
        pudiendo solicitar el asesoramiento de socios con perfiles adecuados para el análisis
        y evaluación de las distintas alternativas.
        Así mismo de lograrse la posesión de superficies aledañas al actual predio, los
        mismos deben estar incluido dentro de nuestra planificación estratégica hacia el
        2025.
        
        Además de lo edilicio, esta Subcomisión seguirá analizando alternativas que
        impliquen un mejor aprovechamiento de nuestras actividades deportivas y sociales
        con foco en integración comunitaria y familiar.</p>
    </div>
    <div class="elemento3">
        <h4>Objetivo 2022:</h4>
        <p>Consolidar los proyectos que se complementan con la sub comisión de
            Infraestructura, armar un nuevo equipo que tome la posta con nuevas ideas para el
            futuro.</p>
        <ul>
            <li>Conformación del equipo, funciones y rutinas.</li>
            <li>Gestionar seguimiento proyecto gimnasio.</li>
            <li>Conformar equipo de proyecto "nueva escuela".</li>
            <li>Definir e involucrar a los referentes.</li>
        </ul>
    </div>
    <div class="elemento4">
        <h4>Objetivo 2025:</h4>
        <p>Tener definido y en ejecución el plan <b>LOS TEROS</b> 2022 con todas sus etapas
            intermedias definidas y consensuadas</p>
    </div>
    </div>
</main>