<main class="main">
    <div id="caja-contenedora">
        <div class="elemento1">
            <img src="/images/imgsubc/rugby.jpg" alt="" class="foto">
            <div class="subelemento1">
                <h2>Subcomisión de rugby:</h2>
                <p><b>Esta Sub Comisión es responsable de la definición y custodia de la identidad y estructura rugbística de Los Teros Rugby Club, propiciando y facilitando la tarea integral del entrenador: transmitir conocimientos al jugador e inculcar valores en la persona.</b></p>
            </div>
        </div>
        <div class="elemento2">
        <h4>Objetivos:</h4>
        <p>En 2022 se impulsará una mayor conexión entre todas las Divisiones, en especial en el nexo con lo que refiere al Plantel Superior. El objetivo es finalizar de desarrollar el MANUAL haciendo hincapié en los objetivos por edades. A la par se buscara una identidad de juego del Club, adaptada a cada nivel de jugadores: Superior, Juveniles e Infantiles.-
        Será clave desarrolla Recursos internos de coaching y establecer una cadena de formación de nuevos entrenadores jóvenes, ex jugadores y padres, que comulguen con la misma filosofía. Que estén capacitados e involucrados tanto en los aspectos filosóficos como en el juego y con especial hincapié en la seguridad y prevención.
        Se seguirán también de cerca las acciones vinculadas con el nuevo proceso de desarrollo físico de los Jugadores, fomentando la participación de los Preparadores Físicos (PF) que permitan maximizar las destrezas individuales.
        Se retomarán las acciones que permitan la captación e integración de jugadores, prioritariamente en aquellas divisiones en donde se vea un déficit.
        </p>
        </div>
        <div class="elemento3">
            <h4>Objetivo 2022:</h4>
            <p>Finalizar el armado de la estructura Deportiva del Rugby, avanzar con el armado del modelo a desarrollar. Revalorizar el honor y el orgullo de pertenecer al Plantel Superior como referente de las divisiones inferiores. Iniciar “Campaña de Captación de Jugadores”.</p>
            <ul>
                <li>Conformacion del equipo, funciones y rutinas.</li>
                <li>Realimentacion de experiencias.</li>
                <li>Programa coaching 2022.</li>
                <li>Optimizar el proceso para formar y designar entrenadores.</li>
                <li>Integración con Entrenadores Juveniles e Infantiles.</li>
                <li>Integracion con Entrenadores de plantel superior.</li>
                <li>Monitoreo de prácticas y enseñanza de juego.</li>
                <li>Representacion en unión Andina.</li>
            </ul>
        </div>
        <div class="elemento4">
            <h4>Objetivo 2025:</h4>
            <p>Consolidar el funcionamiento de la Escuela de Rugby en Los Teros con un modelo de gestión que nos caracterice y bajo una misma identidad de juego.</p>
        </div>
        </div>
</main>