<main class="main">
    <div id="caja-contenedora">
    <div class="elemento1">
        <img src="/images/imgsubc/salud-prevencion.jpg" alt="" class="foto">
        <div class="subelemento1">
            <h2>subcomision de prevención, salud y seguridad.</h2>
            <p><b>Su objetivo es CONCIENTIZAR y crear una cultura responsable para la salud física y mental, generando acciones de prevención y emergencias, así como el armado de protocolos de SEGURIDAD previniendo y disminuyendo al máximo el riesgo de daño a la integridad física de las personas que asisten al club.</b></p>
        </div>
    </div>
    <!-- <div class="elemento2">
    <h4></h4>
    <p></p>
    </div> -->
    <div class="elemento3">
        <h4>Objetivos:</h4>
        <ul>
            <li>Planes de emergencias con las instalaciones.</li>
            <li>Sistema de fincionamiento ante una emergencia médica.</li>
            <li>Organización y protocolo para el manejo de una emergencia médica.</li>
            <li>Cursos a entrenadores, padres y público general de primeros auxilios y RCP.</li>
            <li>Medico en el campo de juego.</li>
            <li>Servicio de ambulancia presente en el campo de juego durante los partidos.</li>
            <li>Enfermeria: equipamentos y archivos de datos de los jugadores.</li>
            <li>Servicio de emergencia contratado.</li>
            <li>Registro y actualización de aptos médicos obligatorios por edads.</li>
        </ul>
        <h4>Objetivo 2022:</h4>
        <p>Consolidar los procesos desarrollados designando equipos específicos por segmento.</p>
        <ul>
            <li>Conformación del equipo, funciones y rutinas.</li>
            <li>Plan de relevamiento de instalaciones 2022.</li>
            <li>Relevamiento protocolos médicos/contrataciones.</li>
            <li>Relevamiento chequeos médicos.</li>
            <li>Definición de servicios auxiliares (Kinesiología, etc.).</li>
        </ul>
    </div>
    <div class="elemento4">
        <h4>Objetivo 2025:</h4>
        <p>Disponer de un sistema modelo de getión que asegure la minimización de riesgos, la concitización del 100% de los socios/empleados y una estructura reactiva de excelencia.</p>
    </div>
    </div>
</main>