<main class="main">
    <div class="elemento1">
        <img src="/images/imgsubc/negocios.jpg" alt="" class="foto">
        <div class="subelemento1">
            <h2>subcomision de sponsors y unidades de negocio.</h2>
            <p><b>Será coordinada anualmente por
                un miembro elegido de la Comisión
                Directiva quien coordinará a un
                equipo que actuará en conexión
                directa con el Presidente y con el
                Responsable de la subcomisión de
                Finanzas y Administración.
                Esta Subcomisión estará abierta
                para recibir observaciones, nuevos
                proyectos y propuestas de
                cualquier socio del Club.</b></p>
        </div>
    </div>
    <div class="elemento2">
    <h4>marco de actuación:</h4>
    <p>Somos un club amateur y todos los integrantes comparten su filosofía.
        Cada socio y jugador debe ser consciente de la importancia de los fondos que
        ingresan por el sponsoreo y es responsabilidad de todos respetar los acuerdos de
        marca y el sentido común que derivan de un Acuerdo.
        Todo acuerdo comercial que involucre la imagen individual o grupal de jugadores
        del club utilizando el nombre, logo o cualquier imagen o símbolo de Los Teros, debe
        contar con la autorización expresa de la CD.</p>
    </div>
    <div class="elemento3">
        <h4>Objetivo 2022:</h4>
        <p>Superar en un 50% los niveles de ingreso de 2021, a través de ingresos
            provenientes de sponsors y Unidades de Negocios.</p>
        <ul>
            <li>conformación del equipo, funciones y rutinas.</li>
            <li>Gestión de contratos y puesta en valor.</li>
            <li>Análisis de propuestas de nuevas alternativas de sponsoreo.</li>
            <li>coordinar el seguimiento de los cronogramas de pagos.</li>
        </ul>
    </div>
    <div class="elemento4">
        <h4>Objetivo 2025:</h4>
        <p>Ser el club de Rugby y Hockey preferido y valorado por los sponsors de la Zona que
            participan en estos deportes. Sostener las unidades de negocios con
            autofinanciamiento y generadoras de ingresos.</p>
    </div>
    </div>
</main>