<main id="section6">
    <div class="cabecera cero">
        <h2>Nuestras subcomisiones:</h2>
    </div>
    <div data-aos="fade-up-left" class="caja uno">
        <a href="/rugby"></a>
        <img src="/images/007-rugby.png" alt="" class="iconosvg">
        <h4>Subcomisión de Rugby.</h4>
        <p>Esta SubComisión es responsable de la definición y custodia de la identidad y estructura rugbística de <b>Los Teros Rugby Club</b>.</p>
        </a>
    </div>
    <div data-aos="fade-up" class="caja dos">
        <a href="/hockey"></a>
        <img src="/images/002-hockey-sticks.png" alt="" class="iconosvg">
        <h4>Subcomisión de Hockey.</h4>
        <p>Esta Subcomisión es responsable de la definición y custodia de la estructura del Hockey de Los Teros.</p>
        </a>
    </div>
    <div data-aos="fade-up-right" class="caja tres">
        <a href="/valores"></a>
        <img src="/images/006-balance-scale.png" alt="" class="iconosvg">
        <h4>Subcomisión de Principios y Valores.</h4>
        <p>Esta Subcomisión buscara el mantenimiento de un clima de armonía interna que es característico en <b>Los Teros Rugby Club</b>.</p>
    </div>
    <div data-aos="fade-up-left" class="caja cuatro">
        <a href="/administracion"></a>
        <img src="/images/hand.png" alt="" class="iconosvg">
        <h4>Subcomisión de Administracion y Finanzas.</h4>
        <p>El fin de esta subcomisión es el de optimizar el funcionamiento de la Administración y Finanzas de la Institución.</p>
        </a>
    </div>
    <div data-aos="fade-up" class="caja cinco">
        <a href="/sponsors"></a>
        <img src="/images/portfolio.png" alt="" class="iconosvg">
        <h4>Subcomisión de Sponsors y Unidades de Negocio.</h4>
        <p>Esta subcomisión sera encargada de gestionar contratos y sponsors de nuestro club.</p>
        </a>
    </div>
    <div data-aos="fade-up-right" class="caja seis">
        <a href="/salud"></a>
        <img src="/images/008-healthcare.png" alt="" class="iconosvg">
        <h4>Subcomisión de Prevencion, Salud y Seguridad.</h4>
        <p>Su objetivo es <b>CONCIENTIZAR</b> y crear una cultura responsable para la Salud Física y Mental, generando acciones de prevención y emergencias.</p>
        </a>
    </div>
    <div data-aos="fade-up-left" class="caja siete">
        <a href="/eventos"></a>
        <img src="/images/010-event.png" alt="" class="iconosvg">
        <h4>Subcomisión de Comunidad y Eventos.</h4>
        <p>Su Objetivo será desarrollar y garantizar las acciones que tengan que ver con la Comunidad y los Socios del Club.</p>
        </a>
    </div>
    <div data-aos="fade-up" class="caja ocho">
        <a href="/comunicaciones"></a>
        <img src="/images/009-bullhorn.png" alt="" class="iconosvg">
        <h4>Subcomisión de prensa y Comunicaciones.</h4>
        <p>Su objetivo es implementar y mantener actualizados los canales de comunicación interna y externa del Club.</p>
        </a>
    </div>
    <div data-aos="fade-up-right" class="caja nueve">
        <a href="/infraestructura"></a>
        <img src="/images/004-architect.png" alt="" class="iconosvg">
        <h4>Subcomisión de Infraestructura y Ambiente.</h4>
        <p>Su objetivo es proponer, proyectar y ejecutar, la prioridad de obras, como así mismo al mantenimiento de la infraestructura actual y limpieza del Club.</p>
        </a>
    </div>
    <div data-aos="fade-up-left" class="caja diez">
        <a href="/fiestas"></a>
        <img src="/images/001-confetti.png" alt="" class="iconosvg">
        <h4>Subcomisión de Fiestas.</h4>
        <p>Desde el 2022 realizaremos Programas internos y externos que apunten a consolidar en Los Teros Rugby Club un estilo de <b>DIVERSIÓN RESPONSABLE</b> sin excesos.</p>
        </a>
    </div>
    <div data-aos="fade-up" class="caja once">
        <a href="/proyectos"></a>
        <img src="/images/005-flowchart.png" alt="" class="iconosvg">
        <h4>Subcomisión de Planificacion y Proyectos.</h4>
        <p>Esta Subcomisión se focaliza en Los Teros Rugby Club 2025. Su objetivo es coordinar la proyección de las instalaciones y recursos  necesarios para los diversos escenarios de crecimiento.</p>
        </a>
    </div>
    <div data-aos="fade-up-right" class="caja doce">
        <a href="/disciplina"></a>
        <img src="/images/006-balance-scale.png" alt="" class="iconosvg">
        <h4>Subcomisión de Ética y Disciplina.</h4>
        <p>El principal objetivo de esta Subcomisión es mantener una línea de comportamiento uniforme entre todos los integrantes de <b>Los Teros Rugby Club</b>.</p>
        </a>
    </div>
    <div data-aos="fade-up" class="caja trece">
        <a href="/viajes"></a>
        <img src="/images/003-plane.png" alt="" class="iconosvg">
        <h4>Subcomisión de Viajes y Giras.</h4>
        <p>La idea de las Giras es explorar nuevos lugares, conocer gente, jugar el deporte favorito con amigos, descubrir costumbres diferentes y divertirse. Es una oportunidad ideal para reforzar los lazos del grupo.</p>
        </a>
    </div>
</main>