<main class="main">
    <div id="caja-contenedora">
        <div class="elemento1">
            <img src="/images/imgsubc/principios.jpg" alt="" class="foto">
            <div class="subelemento1">
                <h2>subcomision de Principios y Valores.</h2>
                <p><b>esta subcomision buscara el mantenimiento de un clima de armonía interna que es característico en Los Teros Rugby Club, bregara por el fomento de los principios y valores en todos los estamentos del club y en el cumplimiento del código para la práctica del rugby y el hockey.</b></p>
            </div>
        </div>
        <!-- <div class="elemento2">
        <h4></h4>
        <p></p>
        </div> -->
        <div class="elemento3">
            <h4>Características del integrante de <b>LOS TEROS RUGBY CLUB</b>:</h4>
            <ul>
                <li>Tiene como guía inspiradora los valores definidos por el Club y la filosofía de transmitir el deporte como Escuela de Vida (“mejor persona, mejor jugador”). Esto explica la mística que impulsa a Los Teros Rugby Club desde su pequeño y modesto origen hasta lo que es hoy en día, así también define el futuro al que aspiramos y lo que deseamos que cada chico descubra en su interior.</li>
                <li>Demuestra respeto absoluto por los principios de Los Teros, entre los cuales el esencial, ser un club formativo.</li>
                <li>Acepta que todo aporte –desde jugar, entrenar una división o llevar a cabo cualquier tipo de tarea– hasta realizar una contribución material, se hace por el sólo placer de dar, sin esperar nada a cambio.</li>
                <li>Comprende cabalmente que el modo de funcionamiento institucional es el juego: los chicos y los jóvenes vienen a jugar y los grandes juegan o enseñan a hacerlo, que es otra manera de jugar. No existe más obligación que observar respeto.</li>
                <li>Entiende que dejando de lado los valores inferiores, que se conforman con estar mejor (la comodidad, etc.), el propósito de Los Teros Rugby Club es comunicar y difundir los valores humanos superiores (el camino del esfuerzo), para lograr ser mejor.</li>
            </ul>
            <h4>Objetivo 2022:</h4>
            <p>Conformar un Plan de acción que muestre a todos los integrantes e ingresantes a la Institución los valores y principios perseguidos a través del ejemplo, la comunicación verbal y la generación de actividades que fomenten cada uno de ellos.</p>
            <ol>
                <li>Conformación del equipo, funciones y rutinas.</li>
                <li>Realimentación de experiencias de años anteriores.</li>
                <li>Prevenciones internas, Plan Contacto y Comunicación.</li>
                <li>Prevenciones externas, rol de referentes.</li>
                <li>Generación y Promoción de Actividades que persigan el fomento de valores y la identidad con el Club.</li>
                <li>Difusión del Código para la práctica del Deporte.</li>
            </ol>
        </div>
        <div class="elemento4">
            <h4>Objetivo 2025:</h4>
            <p>Que estos principios y valores hayan acompañado el crecimiento del club y que haya sido una característica percibida y reconocida.</p>
        </div>
    </div>
</main>