<main class="main">
    <div class="elemento1">
        <img src="/images/imgsubc/viaje.jpg" alt="" class="foto">
        <div class="subelemento1">
            <h2>subcomision de viajes y giras.</h2>
            <p><b>La idea de las Giras es explorar
                nuevos lugares, conocer gente, jugar
                el deporte favorito con amigos,
                descubrir costumbres diferentes y
                divertirse. Es una oportunidad ideal
                para reforzar los lazos del grupo,
                ampliar horizontes, enriquecer
                conocimientos, y mejorar las
                habilidades personales y grupales.</b></p>
        </div>
    </div>
    <div class="elemento2">
    <p>Será coordinada anualmente por un miembro elegido de la Comisión Directiva quien
        conformará un equipo que actuará en conexión directa con el Presidente. Entablará
        relaciones con otros clubes y/o federaciones del país como del exterior en procura
        de generar la participación de alguna división de nuestro Club en eventos
        organizados por estos.</p>
    </div>
    <div class="elemento3">
        <h4>Objetivo 2022:</h4>
        <p>Promover contactos con otros Clubes y/o federaciones del país o del exterior como
            así también con Agencias y/o empresas especializadas en viajes Deportivos. Deberá
            redactar un proyecto de reglamento y ponerlo a consideración de la Comisión
            Directiva.</p>
    </div>
    <div class="elemento4">
        <h4>Objetivo 2025:</h4>
        <p>Establecer viajes fijos para los planteles M14 y M18 como premio o despedida de
            Infantiles y Juveniles.</p>
    </div>
    </div>
</main>