#principal{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.facebook{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.side-bar{
    height: 500px;
}
#imgg{
    background-size: cover;
    width: 100%;
    height: 350px;
    background-position-x: center;
    background-position-y: center;
}
#imgg2{
    background-size: cover;
    background-position-y: center;
    height: 350px;
}
#section{
    width: 90%;
}
.cont-sec{
    margin: auto;
    width: 100%;
}
#section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas:    "title title"
                            "s1 s2"
                            "s3 s4"
                            "s5 s6"
                            "s7 s8"
                            "s9 s9";
    margin:0 auto ;
    width: 90%;
    grid-gap: 30px;
}
.title2{
    grid-column-start: title;
    grid-column-end: title;
    width: 75%;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 20px;
}
.s1{
    grid-column-start: s1;
    grid-column-end: s1;
}
.s2{
    grid-column-start: s2;
    grid-column-end: s2;
}
.s3{
    grid-column-start: s3;
    grid-column-end: s3;
}
.s4{
    grid-column-start: s4;
    grid-column-end: s4;
}
.s5{
    grid-column-start: s5;
    grid-column-end: s5;
}
.s6{
    grid-column-start: s6;
    grid-column-end: s6;
}
.s7{
    grid-column-start: s7;
    grid-column-end: s7;
}
.s8{
    grid-column-start: s8;
    grid-column-end: s8;
}

.sponsor-log{
    width: 100px;
    height: 100px;
}
.sponsor{
    width: 95%;
    height: 120px;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: grey;
    transition: 0.7s all ease;
}
.sponsor:hover{
    background-color: #ccc;
}
.contenedor-txt{
    width:90%;
    margin: auto;
}

.t1{
    font-size: 25px;
}
.s9{
    grid-column-start: s9;
    grid-column-end: s9;
    width: 50%;
}

/* INICIO SUBCOMISIONES */

#section6{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 1025px;
    margin: 0 auto;
    grid-template-areas: "cero"
                         "uno"
                         "dos"
                         "tres"
                         "cuatro"
                         "cinco"
                         "seis"
                         "siete"
                         "ocho"
                         "nueve"
                         "diez"
                         "once"
                         "doce"
                         "trece";
    padding: 20px;
}
.iconosvg{
    width: 120px;
}
.cero{
    text-align: center;
    grid-column-start: cero;
    grid-column-end: cero;
    width: 75%;
    margin: 0 auto;
}
.uno{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: uno;
    grid-column-end: uno;
    text-align: center;
}
.dos{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: dos;
    grid-column-end: dos;
}
.tres{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    grid-column-start: tres;
    grid-column-end: tres;
}
.cuatro{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    grid-column-start: cuatro;
    grid-column-end: cuatro;
}
.cinco{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: cinco;
    grid-column-end: cinco;
}
.seis{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: seis;
    grid-column-end: seis;
}
.siete{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: siete;
    grid-column-end: siete;
}
.ocho{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: ocho;
    grid-column-end: ocho;
}
.nueve{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: nueve;
    grid-column-end: nueve;
}
.diez{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: diez;
    grid-column-end: diez;
}
.once{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: once;
    grid-column-end: once;
}
.doce{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: doce;
    grid-column-end: doce;
}
.trece{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: trece;
    grid-column-end: trece;
}
.caja h4{
    border-top: 1.5px solid grey;
    width:75%;
    padding-top: 15px;
}
.caja{
    height: 350px;
    width: 300px;
    margin:0 auto;
    transform: scale(0.9);
    box-shadow: 2px 2px 5px black;
}
.caja:hover{
    transition: all 1 ease;
    transform: scale(0.95);
}
.caja a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10; /* pone el link sobre la caja */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.caja p{
    font-size: 90%;
}

/* FIN SUBCOMISIONES */

/* INICIO CONTACO */

textarea{
    resize: none;
}
#section4{
    overflow-x: hidden;
}
#contenedor-main{
    width: 100%;
    margin:auto;
    max-height: 1000px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    box-shadow:2px 2px 5px black;
}
.formulario2{
    grid-row-start: form2;
    grid-row-end: form2;
    margin-right: 10px;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;;
}
.enlace{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.campo-r::after{
    content: '*campo obligatorio*';
    color: red;
    font-size: 12px;
}
.caja-datos{
    width: 85%;
}
.g-recaptcha{
    transform: scale(0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FIN CONTACO */

/* INICIO DEPORTES */

#section3{
    width: 90%;
}

/* FIN DEPORTES */

/* INICIO GRAL SUBCOMISIONES */

.main{
    max-width: 450px;
    margin: auto;
}
#caja-contenedora{
    padding: 20px;
    box-shadow: 2px 2px 5px black;
}
h2{
    text-align: center;
    margin-bottom: 15px;
}
.foto{
    width: 300px;
    margin: auto;
    border-radius: 15%;
    border: 1px solid black;
}
.elemento1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.subelemento1{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}
.subelemento1 p{
    text-align: center;
    font-size: 90%;
}
.subelemento1 h2{
    font-size: 30px;
}
.elemento2{
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
}
.elemento2 h4{
    padding: 10px;
    font-size: 20px;
}
.elemento3{
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
}
.elemento3 ul li{
    list-style:circle
}
.elemento3  h4{
    font-size: 20px;
    padding: 10px 0 0 0;
}
.elemento3 p{
    padding: 10px 0;
}
.elemento4{
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
}
.elemento4  h4{
    font-size: 20px;
    padding: 10px 0 0 0;
}
.elemento4 p{
    padding: 10px 0;
}
.form{
    width: 100%;
    max-width: 600%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form input{
    width: 50%;
    margin-bottom: 7px;
}
.form textarea{
    margin-bottom: 7px;
    resize: none;
    width: 80%;
}
.form p{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.form .required::after{
    content: '*campo obligatorio*';
    color: red;
    font-size: 12px;
}

/* FIN GRAL SUBCOMISIONES */